/*

Darko Bunic
http://www.redips.net/
Apr, 2011.

*/

body {
	font-family: arial;
	margin: 0px;
}

/* make drag container visible */
#redips-drag {
	border: 2px dashed LightBlue;
	width: 580px;
	padding: 10px;
	margin: 0px auto;
}

/* styles for first two tables */
#tbl1,
#tbl2 {
	width: 580px;
	border-collapse: collapse;
	margin-bottom: 17px;
}

/* set table row height */
div#redips-drag table tr {
	height: 32px;
}

/* table cells */
div#redips-drag td {
	/* IE8 BUG - applying alpha filter on TD will overwrite TD border - thank you MicroSoft for tearing my hair :P */
	/* I also tried with outline and that was fine, but Opera11 place high zIndex to outline grid and that looks wierd */
	/* so, I paint TR to white with JavaScript and applying aplha filter to table content (DIV elements) */
	border: 1px solid #eee;
}

/* table titles */
div#redips-drag th {
	font-size: 14pt;
}

/* drag object (DIV inside table cell) */
.redips-drag {
	margin: auto;
	margin-bottom: 1px;
	margin-top: 1px;
	text-align: center;
	font-size: 10pt;
	width: 150px;
	height: 20px;
	line-height: 20px;
	border-width: 2px;
	border-style: solid;
	background-color: white;
	/* round corners */
	border-radius: 4px; /* Opera, Chrome */
	-moz-border-radius: 4px; /* FF */
}

/* blue DIV elements */
.blue {
	border-color: SteelBlue;
}

/* orange DIV elements */
.orange {
	border-color: #FF8A58;
}

/* DIV row handlers (blue left column) */
.redips-row {
	width: 20px;
	margin: 2px;
	border-color: SteelBlue;
	background-color: SteelBlue;
	/* round corners */
	border-radius: 14px; /* Opera, Chrome */
	-moz-border-radius: 14px; /* FF */
}

/* row handler TD background color */
.redips-rowhandler {
	background-color: #76ACDA;
}

/* marked cells (forbidden access for header and message line) */
.redips-mark {
	color: white;
	background-color: #aaa;
	text-align: center;
}

/* row dark */
.rd {
	background-color: #ddd;
}

/* row light */
.rl {
	background-color: #eee;
}

/* cell dark */
.cdark {
	background-color: #C6C8CB;
}

/* trash cell */
.redips-trash {
	color: white;
	background-color: steelBlue;
	text-align: center;
}

/* instructions */
.inst {
	color: grey;
	width: 580px;
	padding: 10px;
	margin: 0px auto;
}

/* message cell */
.messageLine {
	padding-left: 10px;
	margin-bottom: 3px;
	font-size: 12pt;
	color: #888;
}

/* MILICA NOVO - polje za Description bloka */
.opis {
    width: 300px;
}

/* MILICA NOVO - polje za vreme bloka */
.trajanje {
    font-family: "Lucida Console";
    font-size: smaller;
    color: steelblue;
    width: 50px;
}

.polje {
    background-color: transparent;
    width: 80%;
    border: transparent;
    /*onclick: border: inset thin;*/
}

