html, body {
    height: 100%;
}

body {
    background-color: #e6e6e6 ;

    background-position: right top, left bottom;
	background-size:100%;
    background-repeat: no-repeat, repeat;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

#wrap {
	height: 50%;
}

#content {
	height: 50%;
	min-height: 50%;
	/*width: 80%;*/
	float: left;
	margin: 0 auto -4em;
	height: auto !important;
}

#header {
	width: 100%;
	height: 18em;
	position: relative;
}

#footer, .push {
	height: 4em;
}

ul li {
    list-style: none;
}

div{

    align: center;

    <!-- isključiti globalni border na kraju dizajna -->
}
table{
   /* border: dashed 1px black;*/

<!-- isključiti globalni border na kraju dizajna -->
}

td{
   /* border: dashed 1px black;*/

<!-- isključiti globalni border na kraju dizajna -->
}

.system{
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
    font-size: smaller;
    color: #003399;
}