.menu {
	height: 100%;
    margin-left: 20px;
    margin-right: 20px;
	float: left;
}

.dropdown {
    padding: 13px 30px;
    width: 150px;
    vertical-align: middle;
    margin: 0 auto;
    background-color: #e74c3c;
    text-align: center;
    float: left;

}

.dropdown a {
    text-decoration: none;
    color: inherit;
}

.dropdown #top {
    color: #f0f0f0;
    position: relative;
}

.dropdown li ul li:hover {
    color: #f0f0f0;
    background-color: #e43725;
    padding: 13px 30px;
    width: 150px;
    vertical-align: middle;
    margin-left: -30px;
}

.dropdown li ul li {
    padding: 13px 30px;
    /*width: 150px;*/
    vertical-align: middle;
    margin-left: -30px;
    color: #1E1E1E;
    border-bottom: 1px solid #e3e3e3;
}

.dropdown li ul li:first-child {
    margin-top: -13px;
}

.dropdown li .dropdown-box {
    height: 0;
    overflow: hidden;
    display: none;
    background-color: #f0f0f0;
    width: 100%;
    margin-left: -30px;
    margin-bottom: -15px;
    margin-top: 13px;
    border-top: 20px solid #1E1E1E;
    padding: 0;
    padding: 13px 30px;
    /*width: 150px;*/
    vertical-align: middle;
}

.dropdown li:hover .dropdown-box, .dropdown li:active .dropdown-box {
    display: block;
    background-color: #f0f0f0;
    animation: box 1s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes box {
    from {
        height: 0;
    }
    to {
        height: 203px;
    }
}
.dropdown li:hover span {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #f0f0f0;
    margin-top: 42px;
    position: absolute;
    margin-left: -40px;
}
